*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bgTopButton-color;
  font: $text-font;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  font: $sectionHeader-font;
  color: $link-color;
  text-decoration: none;
}

th {
  font-weight: normal;
}
