@media (max-width: 720px) {
  // Burger
  .sidebar {
    transform: translateX(-188px);
    transition: $transition-main;
  }

  .sidebar-active {
    transform: translateX(0px);
    transition: $transition-main;
  }

  .content-wrapper {
    transform: translateX(-188px);
    transition: $transition-main;
    width: 100%;
  }

  .content-wrapper-active {
    transform: translateX(0px);
    transition: $transition-main;
  }

  .hamburger {
    display: inline-block;
    position: fixed;
  }

  // Header

  .header {
    @include flex(column, center, center);

    transform: translateX(-188px);
    transition: $transition-main;
    background-color: #191919;
    height: 240px;
    width: 188px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    height: 170px;

    &-active {
      transform: translateX(0px);
      transition: $transition-main;
      align-items: flex-start;
      height: 170px;
    }

    .dollars {
      padding-left: 13px;
    }

    .name,
    .quit {
      padding-left: 5px;
    }
  }

  .header__item {
    height: 40px;
    border: none;
  }

  // Links
  .links-lists-wrapper {
    width: 90%;
  }

  .links {
    flex-direction: column;
  }

  .signups-list li {
    @include flex(column, center, center);

    h2 {
      font-size: 14px;
    }
  }

  // Personal data
  .personal-data-wrapper {
    width: 100%;
  }

  .form-row {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .links-lists-wrapper {
    width: 80%;
  }
}

@media (min-width: 720px) {
  .sidebar-overlay {
    display: none;
  }
}

@media (max-width: 1250px) {
  .linked {
    @include flex(column, center, center);

    padding-bottom: 10px;
  }

  .linked-title,
  .linked-link {
    @include flex(row, center, center);

    width: 100%;
    padding: 0;
  }

  .button-wrapper {
    padding-bottom: 20px;
  }
}
