.modal-chat {
    width: 80%;
}

.chat__manager {
    display: flex;
    border-bottom: 2px solid $disabledBtn-color;
}

.chat__manager-image {
    width: 70px;
    height: 70px;
    margin: 5px 10px 20px;
}

.chat__manager-name {
    margin: 0;
    font: $wallet-font;
}

.chat__manager-online {
    @include flex(row, center, center);

    margin: 0;
    padding: 0 2px;
    color: $btnFont-color;
    font: $smallLink-font;
    background-color: $greenCheckBox-color;
    width: 43%;
    height: 25px;
    border-radius: 4px;
}

.chat__history {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid $disabledBtn-color;
}

.chat__footer, 
.login__footer {
    @include flex(row, center, center);

}

.chat__input {
    width: 90%;
    padding-left: 7px;
    position: relative
}

.message-icon {
    top: 13px;
    left: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    fill: $greyBtnHover-color;
}

.chat__input-field {
    width: 100%;
    border: 1px solid $disabledBtn-color;
    outline: none;
    padding-left: 35px;

    &::-webkit-input-placeholder {
        color: $headers-color;
      }
}

.btn__chat {
    padding: 0 10px;
    width: 100px;
}