.links-lists {
  @include flex(row, center, center);
}

.links-lists-wrapper {
  width: 60%;
}

.links,
.banners {
  @include flex(column, center, center);

  margin-bottom: 18px;
}

.linked {
  @include flex(column, center, space-between);

  width: 100%;
  border-top: 2px solid $disabledBtn-color;
}

.linked-title-wrapper {
  @include flex(row , center, center);

  width: 40%;
  padding-left: 10px;
}

.linked-title {
  font: $largeLink-font;
  color: $greyBtn-color;
}

.linked-link {
  width: 60%;
  @include flex(row, center, center);
}

.link_svg,
.trash_svg {
  display: none;
  cursor: pointer;
}

.links-list li:hover {
  background-color: $bgTableHover-color;
  transition: $transition-main;

  .link_svg {
    display: inline-block;
    width: 16px;
    height: 8px;
    fill: $circleTabOrange-color;
    margin-right: 20px;
  }

  .trash_svg {
    display: inline-block;
    fill: $walletP-color;
    width: 14px;
    height: 15px;
    margin-right: 20px;
  }
}

.button-wrapper {
  @include flex(row, center, center);
}
