.subsection-dates {
  @include flex(row, center, center);

  height: 108px;
  border-bottom: 2px solid $disabledBtn-color; 
}

.dates-modules {
  @include flex(row, center, center);

  height: 40px;
  border: 1px solid $disabledBtn-color;
  border-radius: 3px;
}

.date {
  border: none;
  outline: 0;
  font-weight: 300;
}

.date-button {
  @include flex(row, center, center);

  margin-left: 13px;
  width: 41px;
  height: 40px;
  padding-bottom: 1px;
}

.icon-refresh {
  width: 15px;
  height: 15px;
  fill: $btnFont-color;
}

.subsection-signups {
  @include flex(row, center, center);

  height: 185px;
}

.subsection-signups-wrapper {
  @include flex(row, center, space-between);

  width: 60%;
}

.subsection-signups-wrapper-list {
  width: 42%;
}

.earning-chart {
  @include flex(row, center, center);

  padding-bottom: 3em;
}

.earning-chart-wrapper {
  width: 60%;
}

.earning-chart-title {
  font: $wallet-font;
  color: $headers-color;
}

.image {
  @include flex(row, center, center);

  img {
    width: 100%;
  }
}

.fas {
  @include flex(row, center, center);
}

.refresh-icon {
  color: white;
}
