.wrapper {
  max-width: 100%;
  position: relative;
}

.header-whitebar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $btnFont-color;
  z-index: 2;
}

.header {
  position: fixed;
  height: 60px;
  background-color: $btnFont-color;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 188px;
  background-color: $tableDigit-color;
  z-index: 3;
}

.content-wrapper {
  @include flex(column, center, center);

  position: absolute;
  top: 60px;
  left: 188px;
  width: calc(100% - 188px);
  height: auto;
  margin: 0;
  padding: 18px;
}

.general-statistic,
.links,
.personal-data,
.banners,
.details,
.payout {
  display: none !important;
  width: 98%;
  margin: 17px 0 17px 10px;
  height: auto;
  background-color: $btnFont-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &.active {
    display: block !important;
  }
}
