.hamburger {
  display: none;
  left: 10px;
  top: 10px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  z-index: 3;
}

.hamburger,
.navigation {
  transition: $transition-main;
}

.hamburger-active {
  z-index: 4;
  transform: translatex(188px);
  position: fixed;
  outline: none;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hamburger-inner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color $transition-main;
}

.hamburger-inner::before,
.hamburger-inner::after {
  @include hamburger-line;

  content: "";
  left: 0;
  transition: $transition-main;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent;
}

.hamburger-active .hamburger-inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation--active {
  transform: translateX(250px);
}
