.header {
  @include flex(row, flex-end, center);

  right: 0;
  z-index: 4;
}

.header__item {
  @include flex(row, center, center);

  height: 100%;
  border-left: 2px solid $disabledBtn-color;
  cursor: pointer;
}

.header__item:hover {
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  transition: $transition-hover;
}

.header__item-icon {
  fill: $headers-color;
}

.dollars {
  width: 185px;

  p {
    color: $walletP-color;
    font: $wallet-font;
    margin: 0 16px 0 20px;
  }
}

.ring,
.quit {
  width: 57px;
}

.quit {
  width: 57px;
}

.name {
  width: 172px;

  a {
    font: $smallLink-font;
    margin-left: 14px;
  }
}

.icon-wallet {
  width: 17px;
  height: 18px;
}

.icon-arrow {
  width: 11px;
  height: 7px;
}

.icon-ring {
  width: 16px;
  height: 17px;
}

.icon-name {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $manager-color;
}

.icon-quit {
  width: 19px;
  height: 15px;
}
