.links-lists {
  display: flex;
  justify-content: center;
}

.links-lists-wrapper {
  width: 60%;
}

.general-inks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18px;
}

.linked {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid $color-button-disabled;
}

.linked-title {
  width: 40%;
  padding-left: 10px;

  h2 {
    text-transform: none;
  }
}

.linked-link {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.link_svg,
.trash_svg {
  display: none;
  cursor: pointer;
}

.links-list li:hover {
  background-color: #f1f3f3;
  transition: $transition-main;

  .link_svg {
    display: inline-block;
    width: 16px;
    height: 8px;
    fill: #f58220;
    margin-right: 20px;
  }

  .trash_svg {
    display: inline-block;
    fill: $color-dollar;
    width: 14px;
    height: 15px;
    margin-right: 20px;
  }
}

.btn-add {
  margin-top: 23px;
  margin-bottom: 26px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
