.window-title {
  color: $color-grey;
  font-size: $font-header;
  font-weight: $font-semibold;
  text-transform: uppercase;
  border-bottom: 2px solid $color-button-disabled;

  h2 {
    margin: 19px 17px;
    line-height: 0;
  }
}

.dates {
  height: 108px;
  border-bottom: 2px solid $color-button-disabled;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dates-modules {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid $color-button-disabled;
  border-radius: 3px;
}

.date {
  border: none;
}

.date-button {
  margin-left: 13px;
  width: 41px;
  height: 40px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
}

.icon-refresh {
  width: 15px;
  height: 15px;
  fill: $color-light;
}

.signups {
  height: 185px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signups-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.signups-list-wrapper {
  width: 42%;
}

.signups-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $color-button-disabled;
  margin-top: 22px;
  padding-bottom: 5px;

  h2 {
    display: inline;
    text-transform: none;
    margin: 0;
    line-height: 24px;
  }

  p {
    color: $color-dark;
    font-size: $font-txt;
    margin: 0;
  }
}

.earning-chart {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.earning-chart-wrapper {
  width: 60%;
}

.earning-chart-title {
  text-transform: none;
}

.image {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}
