.personal-data-wrapper {
  display: flex;
  justify-content: center;
}

.personal-data-container {
  width: 40%;
}

.form-row-container {
  padding: 0 35px;
  border-bottom: 2px solid #e3e3e3;
  display: flex;
  justify-content: center;
}

.form-row {
  width: 45%;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-items: center;
}

form {
  width: 100%;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 700;
}

input {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  height: 30px;
  width: 60%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
}
