.logo {
  margin: 18px 20px 20px;
}

.sidebar-list {
  margin-top: 0;
  padding-bottom: 41px;
  border-bottom: 1px solid #333;
}

.sidebar-list-item {
  height: 40px;
  display: flex;
  align-items: center;
  color: $color-icons;
  cursor: pointer;

  &.active {
    background-color: $color-sidebar-active;
    color: $color-light;
    border-left: 4px solid $color-orange-active;

    .icon {
      fill: $color-light;
    }
  }
}

.fas {
  height: 10px;
  width: 10px;
}

.sidebar-list-item:hover {
  color: $color-orange-active;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  transition: all 0.1s ease-in 0.1s;
}

.icon {
  fill: $color-dollar;
  height: 15px;
  width: 16px;
  margin-right: 13px;
  margin-left: 18px;
}

.manager-title {
  margin: 0;
  padding-left: 20px;
  font-size: $font-txt;
  letter-spacing: -0.28px;
  color: #808080;
}

.manager-name {
  display: flex;
  align-items: center;
  padding-top: 10px;

  img {
    padding: 0 10px 0 20px;
  }

  a {
    font-size: $font-txt;
  }
}
