.table__wrapper {
    @include flex(column, center, center);

    width: 100%;
}

.table__inner {
    width: 90%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

td, th {
    border-bottom: 1px solid $greyBtnHover-color;
    height: 60px;

}

.table-tbody-tr:hover {
    background-color: $bgTopButton-color;
}

.table-thead-tr {
    color: $headers-color;
    font: $text-font;
}

.table-thead-tr-th-thContainer {
    display: flex;
    align-items: center;
}

.table-thead-tr-th-thContainer:hover {

    p {
        background-color: $bgCheckBoxHover;
        border-radius: 4px;
        color: $text-color;
    }
}

.table-thead-tr-th-thContainer p {
    padding: 0 10px 0 3px;
}

.table-tbody-tr-td {
    font: $smallLink-font;
}

.pagination {
    @include flex(row, center, center);
    padding: 30px 0;

    a {
        padding: 0 15px;

        &.active {
            background-color: $disabledBtn-color;
            border-radius: 4px;
            color: $greyBtn-color;
            font: $pageHeader-font;
        }
    }

    a:last-of-type {
        padding-right: 25px;
    }

    a:first-of-type {
        margin-left: 15px;
    }
}

.svg-arrow-left,
.svg-arrow-right {
    width: 15px;
    height: 15px;
    fill: $hamburger-color;
    cursor: pointer;
}