.personal-data-wrapper {
  @include flex(row, center, center);

}

.form-row-container {
  @include flex(row, center, center);

  padding: 0 35px;
  border-bottom: 2px solid $disabledBtn-color;
}

form {
  width: 100%;
  color: $headers-color;
  font: $sectionHeader-font;
}

input {
  border: 1px solid $headers-color;
  border-radius: 2px;
  height: 30px;
  width: 60%;
}

.btn-wrapper {
  @include flex(row, center, center);

  padding: 30px;
}
