.links-lists {
  @include flex(row, center, center);
}

.links-lists-wrapper {
  width: 60%;
}

.links,
.banners {
  @include flex(column, center, center);

  margin-bottom: 18px;
}

.linked {
  @include flex(column, center, center);

  width: 100%;
  border-top: 2px solid $disabledBtn-color;
}

.linked-title-wrapper {
  @include flex(row , center, center);

  width: 40%;
  padding-left: 10px;
}

.linked-title {
  font: $largeLink-font;
  color: $greyBtn-color;
}

.linked-title,
.linked-link {
  @include flex(row, center, center);

  width: 100%;
  padding: 0;
}

.linked-link {
  width: 80%;
  margin-left: 10%;
}

.link-icon,
.trash-icon {
  visibility: hidden;
  opacity:0;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.link-icon {
  color: $circleTabOrange-color;
}

.link_icons {
  @include flex(row, center, center);
}

.links-list li:hover {
  background-color: $bgTableHover-color;
  transition: $transition-main;

  .link-icon {
    visibility: visible;
    opacity: 1;
  }

  .trash-icon {
    visibility: visible;
    opacity: 1;
  }
}

.button-wrapper {
  @include flex(row, center, center);
}
